html body {
  /* background-image:  url("../../floriculture/src/assets/pics/bg1.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; */
  background-color: #ffe6f2;
  justify-content: center;
  align-items: center;
}
/* linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),  */

.slider {
  position: relative;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  /* justify-content: center;
  align-items: center; */
  width: 100%;
  padding: 20px;
  padding-left: 30%;
  flex-direction: row;
  /* background-color: #8B0000; */
}

.loginA {
  /* justify-content: center;
  align-items: center; */
  float: left;
  width: 45%;
  padding: 20px;
  /* background-color: #8B0000; */
}

.loginB {
  /* justify-content: center;
  align-items: center; */
  float: right;
  width: 45%;
  padding: 20px;
  background-color: #8B0000;
}

.featuredCard {
  width: 600px;
  position: relative;
  direction: ltr;
  flex-direction: row;
  padding: 20px;
}

.imageCard {
  width: 50%;
  left: 0px;
  float: left;
}

.descCard {
  width: 50%;
  float: right;
}

.image {
  width:200px;
  height: 200px;
  border-radius: 0px;
  resize: none;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 2rem;
  color: #8B0000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 2rem;
  color: #8B0000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.itemContainer {
  overflow-x: wrap;
}

.itemImage {
  width: 100%;
  height: 200px;
  border-radius: 0px;
  resize: none;
}

.ButtonGroup {
  margin-left: 60%;
}

.searchDiv {
  width: 50%;
  margin-left: 25%;
}

.searchForm {
  width: 100%;
  direction: ltr;
  flex-direction: row;
}

.searchInput {
  width: 100%;
  float: left;
}

.Link {
  text-decoration: none;
  color: black;
}

.headerLink {
  text-decoration: none;
  color: white;
}

.cartItem {
  width: 100%;
  height: 150px;
  padding: 30px;
  flex-direction: row;
  background-color: white;
  border-bottom: 1px solid black;
}

.cartImage {
  float: left;
  width: 150px;
  height: 150px;
  margin: 10px;
}

.cartDesc {
  float: left;
  margin: 10px;
}

.cartRemove {
  float: right;
}